{% extends 'base.html' %}
{% load static%}

{% block title %} Nosotros{% endblock %}
{% block nav %} {% endblock %}
{% block footer %} {% endblock %}
{% block content %}



{% for info in info_enterprise %}
{% include 'includes/second-navbar.html'%}

<body style="background-color: #1C2541;">

    <div class="row col-md-12 justify-content-center align-items-center">
        <div class="col-md-10">
            <a href="{% url 'home' %}">
                <h1 class="text-center mt-4">Group Molina&Espino</h1>
            </a>
            <div>
                <hr style="color: #0e8fec; border-width: 6px;">
            </div>
        </div>
    </div>
    <div class="container ">
        <!-- Inicio de la fila -->
        <div>
            <div class="row mt-4 mb-4 text-center justify-content-center align-items-center ">
                <!-- Columna 1 -->
                <div class="col-md-5 mb-4 rounded text-white">
                    <!-- Contenido de la segunda columna -->
                    <h2>Mision</h2>
                    <p class="lead">{{info.history}}</p>
                </div>
                <!-- Columna 2 -->
                <div class="col-md-4 mt-2 mb-2">
                    <!-- Contenido de la primera columna -->
                    <img src="{% static 'img/figura.png' %}" alt="imagen" class="img-fluid rounded-circle shadow"
                        style="border: #005FA3 solid 8px;">
                </div>
            </div>
        </div>
        <!-- Fin de la fila -->
        <!-- Inicio de la fila -->
        <div>
            <div class="row mt-4 mb-4 text-center justify-content-center align-items-center ">
                <!-- Columna 1 -->
                <div class="col-md-4 mt-2 mb-2">
                    <!-- Contenido de la primera columna -->
                    <img src="{% static 'img/laptop4.png' %}" alt="imagen" class="img-fluid rounded-circle"
                        style="border: #005FA3 solid 8px;">

                </div>
                <!-- Columna 2 -->
                <div class="col-md-5 p-4 mb-4 rounded text-white">
                    <!-- Contenido de la segunda columna -->
                    <h2>Mision</h2>
                    <p class="lead">{{info.mission}}</p>
                </div>
            </div>
        </div>
        <!-- Fin de la fila -->
        <div class="">
            <div class="row mt-4 mb-4 text-center justify-content-center align-items-center ">
                <!-- Columna 1 -->
                <div class="col-md-6 rounded  p-4 mb-4 text-white">
                    <!-- Contenido de la segunda columna -->
                    <h2>Vision</h2>
                    <p class="lead">{{info.vision}}</p>
                </div>
                <div class="col-md-4 mt-2 mb-2">
                    <!-- Contenido de la primera columna -->
                    <img src="{% static 'img/cuaderno.png' %}" alt="imagen" class="img-fluid rounded-circle "
                        style="border: #005FA3 solid 8px;">
                </div>
                <!-- Columna 2 -->
            </div>
        </div>
        <div class="">
            <div class="row mt-4 mb-5 text-center justify-content-center align-items-center">
                <!-- Columna 1 -->
                <div class="col-md-4 mt-2 mb-2">
                    <!-- Contenido de la primera columna -->
                    <img src="{% static 'img/cuaderno.png' %}" alt="imagen" class="img-fluid rounded-circle "
                        style="border: #005FA3 solid 8px;">
                </div>
                <!-- Columna 2 -->
                <div class="col-md-6 rounded p-4 mb-4 text-white">
                    <!-- Contenido de la segunda columna -->
                    <h2>Valores</h2>
                    <p class="lead">{{info.values}}</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endfor %}
{% endblock %}