/* Section footer */
a {
    text-decoration: none; /* Quitar subrayado en todos los enlaces */
}
a:hover {
    text-decoration: none; /* También quitar subrayado en hover si lo deseas */
}

.custom-list {
    list-style-type: none;
    padding-left: 0;
}


.custom-links a {
    color: white;
    text-decoration: none; /* Esto elimina el subrayado en los enlaces, si lo deseas */
}

.custom-links a:hover {
    transition: color 0.3s;
    color:#F3A712; /* Cambia el color al pasar el ratón sobre los enlaces, si lo deseas */
}

.social-icons  i {
    color: white;
    margin-top: 25px;
    margin-right: 30px; /* Puedes ajustar el valor según la separación deseada */
    transition: color 0.3s; /* Agregamos una transición suave para el cambio de color */
}
.social-icons a:hover i {
    color: #F3A712; /* Cambiamos el color al pasar el ratón sobre los enlaces */
  }

/* Section navbar */
.navbar-nav .nav-link{
    color: white;
    font-size: larger;
}
.navbar-nav .nav-link:hover {
    color: #F3A712 ;
    transition: color 0.3s;
}


/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Puedes ajustar los pesos según tus preferencias. 400 es regular, 700 es negrita. */

/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* Al igual que con Roboto, puedes ajustar los pesos según tus preferencias. */

/* Apl
/* Font size */
h1 {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    font-weight: 500; /* O cualquier otro valor que prefieras */
    letter-spacing: 1.5px;
    font-size: 2.5rem;
    color: #247BA0;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 800px) {
    h1 {
        font-size: 1.5rem;
    }
}

h2 {
    font-size: 2rem; /* Ajusta según tus preferencias */
}

h3 {
    color: #247BA0; /* Cambia esto al color que desees */
    font-size: 1.75rem; /* Cambia esto al tamaño de fuente que desees */
    /* Otros estilos que desees aplicar */
}

h4 {
    font-size: 1.5rem; /* Ajusta según tus preferencias */
}

h5 {
    font-size: 1.25rem; /* Ajusta según tus preferencias */
}

h6 {
    font-size: 1rem; /* Ajusta según tus preferencias */
}