{% extends 'base.html' %} {% load static%} 

{% block footer %} {% endblock %} 
{%block nav %}{% endblock %} 
{% block title %} Servicios {% endblock %}

{% block content %} 
{% include 'includes/second-navbar.html'%}
<body style="background-color: #1c2541">
  <h1 class="text-center mt-4">Nuestros servicios</h1>
  <div class="container-fluid mt-5 mb-5">
    <div class="row row-cols-1 row-cols-md-3">
      {% for service in services %}
      <div
        class="col mb-4 text-white text-center flex-column align-items-center"
        style="
          padding: 20px;
          display: flex;
        "
      >
        <div style="flex-grow: 1">
          <img
            src="{{service.image.url}}"
            alt="Imagen Centrada"
            style="display: block; margin: 0 auto; max-width: 60%; height: auto"
            class="rounded-circle"
          />
          <h2>{{service.profession}}</h2>
          <p>{{service.mini_content}}</p>
        </div>
        <div class="mt-4">
          <a
            href="{% url 'services_by_especialidad' service.id %}"
            class="btn btn-primary"
            style="width: 100%"
            >Más info</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock %}
