{% extends 'base.html' %}
{% load static%}

{% block nav %}{% endblock %}
{% block content %}
<body>
    <h1 class="text-center mt-4">Nuestros servicios</h1>
    <div class="container-fluid mt-5 mb-5" style="background: linear-gradient(to right, #FDDF96, #F8D870, #F3A712);">
        <div class="row">
            {% for service in services %}
            <div class="col" style="text-align: center; padding: 20px; display: flex; flex-direction: column; align-items: center;">
                <div style="flex-grow: 1;">
                    <img src="{{service.image.url}}" alt="Imagen Centrada" style="display: block; margin: 0 auto; max-width: 80%; height: auto;" class="rounded-circle">
                    <h2>{{service.profession}}</h2>
                    <p>{{service.mini_content}}</p>
                </div>
                <div class="mt-2">
                    <a href="{% url 'services_by_especialidad' service.id %}" class="btn btn-primary" style="width: 100%;">Más info</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}