<footer style="background-color:#247BA0;" class="text-light py-4" >
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-5">
          <h4>Contacto</h4>
          <p><strong>Dirección:</strong></p>
          <ul class="custom-list">
            <li>Av. Mariscal Cáceres N°1177 Humanga - Ayacucho</li>
            <li>Av. La Cultura N° 378 Pichari - Cusco</li>
          </ul>
          <p><strong>Teléfonos:</strong></p>
          <ul class="custom-list">
            <li>+51 924 426 616</li>
            <li>+51 921 882 899</li>
            <li>+51 989 561 633</li>
          </ul>
          <p><strong>Email:</strong> rosateresamolina@gmail.com</p>
        </div>
        <div class="col-md-4 custom-links">
          <h4>Enlaces Rápidos</h4>
          <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href=" {% url 'services'%} ">Servicios</a></li>
            <li><a href="{% url 'publications' %}">Publicaciones</a></li>
          </ul>
        </div>
        <div class="col-md-3 social-icons">
          <h4>Redes Sociales</h4>
          <a href="#" class="text-light"><i class="fab fa-facebook fa-2xl "></i></a>
          <a href="#" class="text-light"><i class="fab fa-twitter fa-2xl "></i></a>
          <a href="#" class="text-light"><i class="fab fa-linkedin fa-2xl "></i></a>
        </div>
      </div>
      <hr class="my-2">
      <p class="text-center mb-0">© 2023 Asociados Molina & Espino</p>
    </div>
</footer>