{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3A712;">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <div class="row">
          <!-- <img src="#" alt="Logo" height="60" > -->
          <h1>ASOCIADOS MOLINA & ESPINO</h1>
        </div>
        </a>
      </div>
    </nav>

    <nav style="background-color:#247BA0;" class="navbar navbar-expand-lg  ">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link " href="{% url 'enterprise'%}">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'services' %}">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'contact' %}">Contactanos</a>
            </li>
           <!--  <li class="nav-item">
              <a class="nav-link " href="{% url 'staff' %}">Equipo</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </header>